<li
  [ngClass]="{
    'list-group-item': true,
    'list-group-item-success': loveIts > 0,
    'list-group-item-danger': loveIts < 0
  }"
>
  <p class="text-right">{{ createdAt | date: "short" }}</p>
  <h4>{{ title }}</h4>
  <p>{{ content }}</p>

  <button class="btn btn-success" (click)="onLove()">Love it!</button>
  <button class="btn btn-danger" (click)="onNoLove()">Dont love it!</button>
</li>
